*{
    box-sizing: border-box;
}
body{
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    padding: 0;
    margin: 0;
}
header{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 120px;
}
main{
    border: 1px solid red;
}
.price-text{
    border: 1px solid blue;
    padding: 0 10px;
}
.price-header{
    display:flex;
    flex-wrap: wrap;
}
.price-details{
        display: flex;
        justify-content: space-between;
        padding-top: 15px;

}
.chart-js{
    height: 200px;
}
.graph-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}
.graph-buttons button{
    font-family: inherit;
    border: none;
    background-color: white;
    text-decoration: none;
}
.graph-buttons button:hover{
    cursor: pointer;
}
.graph-buttons button:focus{
    color: white;
    background-color: deepskyblue;
    outline: none;
    border-radius: 50px;

}
.company-img{
    height: 150px;
}
.company-news{
    height: 500px;
    overflow-y: scroll;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 370px){
    [class*="col-"] {
        width: 100%;
    }
    body{
        font-size: 14px;
    }
    .logo{
        width: 100px;
    }
}
