*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
th{
    font-size: 1.3em;
}
.center{
    text-align: center;
}
body{
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    padding: 0;
    margin: 0;
    background: -moz-linear-gradient(45deg, #06876f 0%, #206f87 20%, #2187b7 40%, #4f97ef 60%, #5dc4fc 80%, #46fcfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #06876f 0%,#206f87 20%,#2187b7 40%,#4f97ef 60%,#5dc4fc 80%,#46fcfc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #06876f 0%,#206f87 20%,#2187b7 40%,#4f97ef 60%,#5dc4fc 80%,#46fcfc 100%);
}
.app-title{
    color:white;
    font-size: 36px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 120px;
    margin: 15px 0;
}
.search-bar{
    border: none;
    font-size: 17px;
    border-bottom: 1px solid white;
    color: white;
    background-color: rgba(0,0,0,0);
    outline: none;
}
.search-bar:active{
    background-color: rgba(0,0,0,0);
}
.search-bar::placeholder{
    color: white;
}
.js-search-button{
    padding: 10px 20px;
    width: 20%;
    background: #2196F3;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}
.price-text{
    opacity: 0;
    transition: opacity 2s ease-in;

    color: white;
    padding: 0 10px;
    margin: 20px auto;
    text-align: center;
    max-width: 600px;
}
.load, .graph.load, .company-info.load{
    opacity: 1;
}
.current-price{
    font-size: 24px;
}
.current-symbol{
    font-size: 36px;
}
.price-header{
    display:flex;
    align-items: center;
}
.price-details{
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
}
.graph{
    opacity: 0;
    transition: opacity 2s ease-in;
}
.company-info{
    opacity: 0;
    transition: opacity 2s ease-in;
    display:flex;
    justify-content: space-between;
    padding: 0 10px;
}
.chart-js{
    padding-right: 7px;
    margin: 10px 0;
}
.graph-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}
.time-button{
    color: white;
    font-family: inherit;
    border: none;
    background-color: rgba(255, 0, 0, 0);
    text-decoration: none;
}
.graph-buttons button:hover{
    cursor: pointer;
}
.graph-select{
    color: black;
    background-color: white;
    outline: none;
    border-radius: 50px;
}

.card-style{
    color: black;
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    padding: 10px;
}
.company-about{
        padding: 0 5px;
        font-size: 12px;
        text-align: justify;
    }
.company-news h1, .company-name{
    color: white;
}
.company-img{
    float: left;
    margin-right: 15px;
    height: 150px;
    box-shadow: 1px 1px 3px #616363;
    border-radius: 4px;
}
.news-article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
}
.article-thumb{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.article-about{
    flex-flow: column;
    margin-left: 20px;
}
.news-article ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.company-news{
    height: 500px;
    overflow-y: hidden;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 768px){
    [class*="col-"] {
        width: 100%;
    }
        body{
        font-size: 14px;
    }
    .app-title{
        font-size: 24px;
    }
    .logo{
        width: 120px;
    }
    .company-info{
        flex-direction: column;
    }
    .company-img{
        height: 100px;
    }
    .company-about{
        font-size: 12px;
    }
    .news-article{
        display: flex;
        flex-wrap: wrap;
    }
    .news-article ul{
        display: flex;
        flex-direction: column;
    }
    .article-thumb {
        width: 100px;
        height: 100px;
    }
    .article-about p{
        display:none;
    }
    .company-news{
        height: auto;
        overflow-y: visible;
}
}

@media screen and (max-width: 375px){
    .app-title{
        font-size: 18px;
    }
    .logo{
        width: 100px;
    }
    .news-article{
        display: flex;
        flex-wrap: wrap;
    }
}
